main {
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.add-promo {
  display: flex;
  justify-content: center;
}

input {
  margin-right: 10px;
  width: 500px;
  border-radius: 10px;
  height: 30px;
  text-decoration: none;
}

.promo-row {
  display: flex;
}

.promo-item {
  flex: 0 0 33.333%;
  padding: 10px;
  box-sizing: border-box;
  border: 5px solid black;
  margin: 30px;
}

/* .promo-item img {
  max-width: 100%;
} */

/* h2 {
  margin: 10px 0px 0px 0px;
  width: 100vw;
  display: flex;
} */

.promo-sub {
  display: flex;
  flex-direction: row;
}

.promo-row {
  display: flex;
  flex-direction: column;
}

.promo-row h2 {
  width: 100%;
  margin: 30px 0px 0px 0px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.promo-items {
  display: flex;
  flex-wrap: wrap;
}

button {
  border-radius: 10px;
}